<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">Dashboard</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="light" routerLink="/ajustes">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar showCancelButton="focus" placeholder="Company, category, expense ..."></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <div class="custom-grid">
      <div class="grid-item" style="display: flex; flex-direction: column; align-items: center;">
        <div class="info-card" style="color: #269726; text-align: center;">
          <ion-icon name="cash-outline"></ion-icon>
          <h3>Mis Ganancias</h3>
        </div>
        <div style="color: black; display: flex; align-items: center; justify-content: center;"
          class="profits-card-result">
          <ion-icon name="logo-usd" style="font-size: 24px; margin-right: 8px;"></ion-icon>
          <p style="font-size: 24px;">{{ totalGanancias }}</p>
        </div>
      </div>
      <div class="grid-item" style="display: flex; flex-direction: column; align-items: center;">
        <div class="info-card" style="color: #0c1296; text-align: center;">
          <ion-icon name="cart-outline"></ion-icon>
          <h3>Productos Vendidos</h3>
        </div>
        <div style="color: black; display: flex; align-items: center; justify-content: center;"
          class="profits-card-result">
          <ion-icon name="cart-outline"></ion-icon>
          <p style="font-size: 24px;">{{ totalCantidadVendida }}</p>
        </div>
      </div>
    </div>


    <!-- Gráfico Circular -->
    <div class="grid-item" style="margin-bottom: 20px; display: flex; flex-direction: column; align-items: center;">
      <div class="info-card" style="color: #000000; text-align: center; width: 100%;">
        <h3>Mis Ganancias</h3>
      </div>
      <div class="chart-container" style="padding: 16px; width: 100%;">
        <canvas id="myChart2"></canvas>
      </div>
    </div>

    <!-- Gráfico de Barras -->
    <div class="grid-item" style="display: flex; flex-direction: column; align-items: center;">
      <div class="info-card" style="color: #000000; text-align: center; width: 100%;">
        <h3>Mis productos más vendidos</h3>
      </div>
      <div class="chart-container" style="padding: 16px; width: 100%;">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>
</ion-content>