:host {
  ion-list {
    background-color: var(--ion-color-primary);
  }
}

.chart-container {
  position: relative;
  margin: auto;
}

.custom-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  max-height: 800px;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
}

.grid-item {
  background-color: white;
  border: 1px solid rgb(182, 182, 182);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.info-card {
  display: flex;
  align-items: center;
  justify-content: center;
  h3 {
    margin: 0px;
    font-size: 20px;
    margin-left: 5px;
  }
}

.profits-card-result {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  ion-icon {
    font-size: 22px;
        font-weight: normal;
  }
  p {
    margin: 0px;
    margin-left: 5px;
    font-size: 30px;
    font-weight: bold;
  }

}

.tabla-ventas {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: black;
  background: white;
  margin-bottom: 20px;
}

.tabla-ventas th,
.tabla-ventas td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tabla-ventas th {
  background-color: #f2f2f2;
  text-align: center;
}

.tabla-ventas tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabla-ventas tr:hover {
  background-color: #ddd;
}

.productos-vendidos-title {
  color: rgb(36, 36, 36);
  text-align: center;
  font-size: 30px;
  margin-block: 25px;
}

.pie-chart {
  margin-bottom: 25px;
  overflow: auto
}

.custom-tooltip {
  p {
    margin: 0px;
    font-size: 30px;
  }
}

.color-container {
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }
}