<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button color="light" text="Ajustes" defaultHref="/ajustes">
      </ion-back-button>
    </ion-buttons>

    <ion-title color="light">
      Perfil
    </ion-title>

    <ion-buttons slot="end">
      <form [formGroup]="edit_profile_form" (ngSubmit)="actnombre()">
        <ion-button color="light" type="submit">
          Guardar
        </ion-button>
      </form>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="ion-no-margin profile-card">
    <ion-card-content>
      <ion-avatar>
        <img [src]="imgUrl ?  imgUrl : '../../../../assets/icon/logo.png'" />
        
      </ion-avatar>

      <h1>
        <ion-text color="tertiary"><strong>{{persona}}</strong></ion-text>
      </h1>

      <p>
        <ion-text color="tertiary">{{correo}}</ion-text>
      </p>

      <ion-button class="ion-button-small" color="tertiary" (click)="updateProfilePicture()">
      Actualizar foto de perfil
      </ion-button>
      
    </ion-card-content>
  </ion-card>


  <div class="ion-padding">
    <form class="form-default" [formGroup]="edit_profile_form" (submit)="actnombre()">

      
      <ion-item color="dark" class="animate_animated animate_fadeInUp">
        <ion-label position="floating">
          Nombre
        </ion-label>
        <ion-input color="light" formControlName="nombre" [(ngModel)]="txt_nombre" value="{{nombre}}"></ion-input>
      </ion-item>

      <ion-item color="dark" class="animate_animated animate_fadeInUp">
        <ion-label position="floating">
          Apellido
        </ion-label>
        <ion-input color="light" formControlName="apellido" [(ngModel)]="txt_apellido" value="{{apellido}}"></ion-input>
      </ion-item>

    </form>

  </div>

</ion-content>