<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button text="Recuperar Contraseña" color="light" defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding ion-full-height ion-flex ion-flex-center">
    <div class="logo-container">
      <h1 class="animate__animated animate__fadeInUp">
        <ion-text color="light">Restablecer Contraseña</ion-text>
      </h1>
      <p class="animate__animated animate__fadeInUp">
        <ion-text color="secondary">Ingrese su nueva contraseña.</ion-text>
      </p>
    </div>

    <form class="form-default" (ngSubmit)="resetPassword()">
      <ion-item color="dark" class="animate__animated animate__fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock-closed" slot="start"></ion-icon>
          Nueva Contraseña
        </ion-label>
        <ion-input color="secondary" type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <ion-item color="dark" class="animate__animated animate__fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock-closed" slot="start"></ion-icon>
          Confirmar Contraseña
        </ion-label>
        <ion-input color="secondary" type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
      </ion-item>

      <ion-button expand="block" size="large" color="danger" class="ion-margin-top" type="submit"
        [disabled]="!password || !confirmPassword || password !== confirmPassword">
        Restablecer Contraseña
      </ion-button>
    </form>

    <div class="ion-text-center ion-margin-top">
      <ion-text color="medium">
        <small>&copy;{{currentYear}} TuEmpresa</small>
      </ion-text>
    </div>
  </div>
</ion-content>
