:host {
  body {
    background-color: var(--ion-color-dark);
  }

  ion-content {
    --background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/src/assets/obelisco.png');
  }

  ion-item {
    --border-radius: 8px;
    margin-bottom: 8px;
  }

  .logo-container {
    text-align: center;
    margin-bottom: 60px; /* Ajusta según sea necesario */
    margin-top: 100px; /* Agrega un margen superior */
  }

  .logo-container h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px; /* Ajusta según sea necesario */
  }

  p {
    margin-bottom: 10px; /* Ajusta según sea necesario */
  }

  .social-icons-container {
    margin-top: 60px; /* Agrega un margen superior */
  }
}
.center-container {
  display: flex;
  justify-content: center;
}

.small-width-button {
  width: 150px;
  font-size: 12px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
}

.icon-spacing {
  margin-right: 3px;
  font-size: 19px; /* Ajusta el tamaño del ícono según sea necesario */
}

.button-text {
  color: rgb(255, 255, 255);
}
