<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button color="secondary" text="Ajustes" defaultHref="/ajustes">
      </ion-back-button>
    </ion-buttons>

    <ion-title color="light">
      Cuenta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-padding">

    <ion-list-header class="ion-list-header-small">
      <ion-label>
        <ion-text color="tertiary">Privacidad</ion-text>
      </ion-label>
    </ion-list-header>

    <ion-list class="list-custom" lines="full">
      <ion-item color="primary" detail="false">
        <ion-icon slot="start" color="medium" name="notifications"></ion-icon>
        <ion-label>
          <h3>Notificaciones</h3>
        </ion-label>
        <ion-toggle color="tertiary" checked slot="end"></ion-toggle>
      </ion-item>
    </ion-list>

    <p>
      <ion-text color="medium">Nunca mostramos datos confidenciales en tus notificaciones.</ion-text>
    </p>

    <hr class="hr-medium">

    <ion-list-header class="ion-list-header-small">
      <ion-label>
        <ion-text color="tertiary">Comentarios e informes</ion-text>
      </ion-label>
    </ion-list-header>

    <ion-list class="list-custom" lines="full">
      <ion-item color="primary" detail="false">
        <ion-icon slot="start" color="medium" name="bug"></ion-icon>
        <ion-label>
          <h3>Comentarios e informes</h3>
        </ion-label>
        <ion-toggle color="tertiary" slot="end"></ion-toggle>
      </ion-item>

      <ion-item color="primary" detail="false">
        <ion-icon slot="start" color="medium" name="document"></ion-icon>
        <ion-label>
          <h3>Protocolos</h3>
        </ion-label>
        <ion-toggle color="tertiary" slot="end"></ion-toggle>
      </ion-item>
    </ion-list>

    <p>
      <ion-text color="medium">Activa esta función para compartir automáticamente los informes de fallos con nosotros.
        Importante: no se comparten datos personales ni financieros.</ion-text>
    </p>

    <hr class="hr-medium">

    <ion-list class="list-custom" lines="full">
      <ion-item color="primary" button detail=false>
        <ion-icon slot="start" color="tertiary" name="close"></ion-icon>
        <ion-label color="tertiary">
          <h3>Eliminar Cuenta</h3>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>

</ion-content>