.transparent-grid {
  background-color: rgba(255, 255, 255, 0.85); // 85% de transparencia
  border-radius: 10px; // Esquinas redondeadas
  padding: 10px; // Espacio interno
}

.custom-table {
  width: 100%;
  margin-top: 20px;
}

.header-row {
  background-color: #5ba5c7; // Verde
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #5ba5c791; // Verde oscuro
}

.data-row {
  text-align: center;
  border-bottom: 1px solid #00000034; // Amarillo
}

.header, .data {
  padding: 10px 5px;
  border-left: 1px solid #00000034; // Verde oscuro
}

.actions {
  display: flex;
  justify-content: center;
}

.actions ion-button {
  margin: 0 5px;
}

.even-row {
  background-color: rgba(248, 245, 241, 0.1); // Naranja claro
}

.odd-row {
  background-color: rgba(132, 167, 162, 0.527); // Verde azulado claro
}

.icon-space {
  margin-right: 8px; /* Ajusta el valor según el espacio que desees */
}


.header, .data {
  padding: 8px;
  text-align: center;
}

.actions .action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions .action-buttons ion-button {
  margin-bottom: 5px;
}

ion-searchbar {
  margin: 10px;
}
