<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title color="light">Lista Costos</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="light" routerLink="/ajustes">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterProductos($event)" placeholder="Buscar producto"></ion-searchbar>

  <ion-button color="tertiary" routerLink="/charts" class="floating-button">
    <ion-icon color="dark" name="duplicate-outline" class="icon-space"></ion-icon>
    <strong>Nuevo Producto</strong>
  </ion-button>

  <ion-grid class="transparent-grid custom-table">
    <ion-row class="header-row">
      <ion-col class="header" color="light">N°</ion-col>
      <ion-col class="header" color="light">Nombre</ion-col>
      <ion-col class="header" color="light">PVP</ion-col>
      <ion-col class="header" color="light">Acciones</ion-col>
    </ion-row>

    <ion-row *ngFor="let producto of Productos; let i = index" class="data-row" [ngClass]="{'even-row': i % 2 == 0, 'odd-row': i % 2 != 0}">
      <ion-col class="data">{{ i + 1 }}</ion-col>
      <ion-col class="data">{{ producto.nombre }}</ion-col>
      <ion-col class="data">{{ producto.pvp }}</ion-col>
      <ion-col class="data actions">
        <div class="action-buttons">
          <ion-button size="small" fill="clear" color="tertiary" (click)="irEditar(producto.codigo)" >
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-button>
          <ion-button size="small" fill="clear" color="danger" (click)="eliminarProducto(producto.codigo)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
