.transparent-grid {
  background-color: rgba(255, 255, 255, 0.75); // 75% de transparencia
  border-radius: 10px; // Esquinas redondeadas
  padding: 10px; // Espacio interno
}

.custom-table {
  width: 100%;
  margin-top: 20px;
}

.header-row {
  background-color: #f0f0f0;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #ccc;
}

.data-row {
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.header, .data {
  padding: 10px 5px;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions ion-button {
  margin: 0 5px;
}

ion-row:nth-child(even) {
  background-color: rgba(240, 240, 240, 0.5); // Fondo alternado para filas pares
}
.icon-space {
  margin-right: 8px; /* Ajusta el valor según el espacio que desees */
}


.floating-button {
  position: top;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  animation: float 3s infinite ease-in-out;
}

/* Archivo: src/app/costos-lista/costos-lista.page.scss */
.transparent-grid {
  --ion-grid-padding: 0;
}

.custom-table {
  width: 100%;
}

.header-row {
  background-color: #f4f4f4;
  font-weight: bold;
}

.data-row:nth-child(even) {
  background-color: #f9f9f9;
}

.header, .data {
  padding: 8px;
  text-align: center;
}

.actions .action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions .action-buttons ion-button {
  margin-bottom: 5px;
}

ion-searchbar {
  margin: 10px;
}
