<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inventariomenu"></ion-back-button>
    </ion-buttons>
    <ion-title color="light"> Registro inventario </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="filterProductos($event)">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Registro Inicial -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro Inicial</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Producto</ion-label>
        <ion-select
          [(ngModel)]="productId"
          (ionChange)="onProductChange($event)"
        >
          <ion-select-option
            *ngFor="let product of productos"
            [value]="product.id"
          >
            {{ product.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cantidad Inicial</ion-label>
        <ion-input type="number" [(ngModel)]="initialQuantity"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">PVP</ion-label>
        <ion-input type="number" [value]="selectedPvp" readonly></ion-input>
      </ion-item>

      <!-- Nuevo formato de fecha para el guardado -->
      <ion-item>
        <ion-label position="floating">Fecha (YYYY-MM-DD)</ion-label>
        <ion-input type="text" [(ngModel)]="date"></ion-input>
        <ion-button fill="clear" (click)="openDateModal()" slot="end">
          <ion-icon name="calendar"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-button expand="full" (click)="saveProduct()">Guardar</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- modal estilo del calendario -->
  <ion-modal
    [isOpen]="isDateModalOpen"
    (ionModalDidDismiss)="onDateModalDismiss($event)"
  >
    <ng-template>
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
        "
      >
        <ion-datetime
          #dateTimeControl
          displayFormat="YYYY-MM-DD"
          pickerFormat="YYYY-MM-DD"
          time-zone="local"
          presentation="date"
        >
        </ion-datetime>
      </div>
      <ion-footer>
        <ion-toolbar>
          <ion-button expand="full" (click)="confirmDate(dateTimeControl.value)"
            >Aceptar</ion-button
          >
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>
