ion-modal {
  --background: var(--ion-background-color, #fff);
  color: var(--ion-text-color, #000);
}

ion-datetime {
  --background: var(--ion-background-color, #fff);
  color: var(--ion-text-color, #000);
}
